/*Main CSS*/

.col-centered{
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.center{
	text-align:center;
}

.create-job h1{
	font-weight: 600;
	font-size: 30px;
	text-align: left;
	font-family: 'Helvetica';
	color: #ecbb2a;
}

.create-job input[type=radio]:checked + label {
    outline: 0;
    color: #000;
}

.create-job textarea{
	height:100px;
}

#radio-buttons input[type=radio]{
	display:none;
}

#radio-buttons input[type=radio] + label {
	opacity: .2;
	background-color: #fff;
	margin-left: auto;
	margin-right: auto;
	display: inline-block;
	width:25%;
	float:left;
	padding: 20px;
	text-align: center;
}

#radio-buttons input[type="radio"]:checked + label{ 
	opacity:1;
}


#radio-buttons img{
	margin-left: auto;
	margin-right: auto;
	display: block;
	height:auto;
	width: auto;
}

#radio-buttons-category{
	text-align: center;
}

#radio-buttons-category img{
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-top:12px;
	opacity:.2;
}

#radio-buttons-category input[type=radio]{
	display: none;
}

input[type=radio]:checked + img{ 
	opacity: 1 !Important;
}

#radio-buttons-category label{
	height: 100px;
	border-radius: 5px;
	width:auto;
	background-color: #ecbb2a;
	margin-left: auto;
	color: #000;
	margin-right: auto;
	display: inline-block;
	text-align: center;
	margin:5px;
	padding:11px;
}

.radio-buttons .flow-text{
	box-shadow: none;
}

.radio-buttons .field{
	display: inline-block;
	float: left;
	width:29%;
	margin: 5px;
	border: 1px solid #ededed;
}

.radio-buttons p{
	font-weight: 300;
	font-family: 'Helvetica', Arial;
}