.form-container{
	padding: 25px;
	width: 800px;
}

.row{
	margin-top: 10px;
	margin-bottom: 10px;
}

.form-control:focus {
    border-color: 0;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.sub-title{
	background-color: #ecbb2a;
	color:#fff;
	font-size:16px;
	padding: 20px 150px;
}

input[type="text"],
input[type="textarea"],
input[type="email"]{
	border:1px solid #000;
	padding: 20px 10px 20px 10px;
}

input[type="textarea"]{
	padding-bottom: 100px;
}


input[type="text"]:focus,
input[type="textarea"]:focus,
input[type="email"]:focus{
	border:1px solid #ecbb2a;
	outline:0 !important;
}

h4{
	margin: 0;
	font-size: 14px;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 5px;
	display: inline-block;
}

.radio label img{
	width:50px;
	padding:10px;
	display: inline-block;
	float: left;
}

.steps{
	font-weight: 200;
	color:#ccc;
	font-size: 14px;
	padding: 15px 0;
}

.radio input[type="radio"],
.radio-small input[type="radio"]{
	display:none;
}

.radio label{
	display:inline-block;
	float:left;
	padding:5px 10px 5px 5px;
	background-color: transparent;
	border: 1px solid #000;
	margin: 5px;
	border-radius: 5px;
	height:auto;
}

.radio input[type="radio"]:checked + label{
	background-color: #ecbb2a;
	border:1px solid #ecbb2a;
}
.radio input[type="radio"]:checked + label h4{
	color:#fff;
}

.radio input[type="radio"]:checked + label img{
	filter: invert(100%);
	-webkit-filter: invert(100%);
	opacity: 1;
}

.full-width label{
	width:100% !important;
}

.small-label-height label{
	height: auto;
}


.need{
	font-size:28px;
	padding-top: 25px !important;
	padding-bottom: 25px !important;
}


.radio-small label{
	background-color: transparent;
	width: 100%;
	color:#000;
}

.radio-small label h4{
	font-weight: 600;
	font-size: 28px;
	opacity:.2;
}

.radio-small input[type="radio"]:checked + label h4{
	opacity:1;
}

input[type=submit]{
	float: right;
	background-color: #abcde2;
	color: #fff;
	width:200px;
	padding:10px;
	font-weight: 600;
	border-bottom: 4px solid #99b9cf; 
}

input[type=submit]:hover{
	color:#fff;
}




@media (max-width: 1024px){
	.form-container{
		width:auto;
	}
	input[type=submit]{
		width:100%;
	}


}

@media (max-width: 767px){
	.radio-small{
		width:50%;
	}

	.radio label{
		width:100%;
	}
	.sub-title{
	padding: 20px;
}
}

/*radio buttons*/
